/* Responsive ala najib code name = 1024px */
@media only screen and (min-width: 800px) and (max-width : 1366px){

body {
    background-color: #1F130F;
    color: #fff;
    font-family: Segoe Ui;
    font-size: 18px ;
    overflow:hidden;
    margin: 0px;
	padding: 0px;
}

.container{
	width: 100%;
	height: 100%;
	background-color: #1F130F;
	position: absolute;
}

/*iki css section*/
#page1 {
	min-height: 768px;
	width: 100%;
}
#page2 {
	background: #363D45;
    	min-height: 768px;
	width: 100%;
}
#page3 {
	background: #1F130F;
    	min-height: 768px;
	width: 100%;
}
#page4 {
        background: #363D45;
        min-height: 768px;
        width: 100%;
}

/*end css section*/

}
/*end 1024px*/

/*iki css page1*/
.page1 {
	color: #fff;
	position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-weight: 200;
    line-height: 5px;
}

h2 {
    color: #fff;
    font-weight: 200;
}

p {
    color: #fff;
}

span {
	color: #82CE2A;
}
/*end css page1*/

/*iki css page2*/
.page2 {
	text-align: center;
	padding-top: 20%;
	font-weight: 200;
	line-height: 5px;
}
#up {
	color: #82ce2a;
    	cursor:pointer;
	text-decoration: none;
    	font-weight: 500;
}
#up:hover {
	color: #fff;
	cursor:pointer;
	text-decoration: none;
}
/*end css page2*/

/*iki css page3*/
.page3 {
	text-align: center;
	padding-top: 20%;
	font-weight: 200;
	line-height: 5px;
}
#ndelik {
	cursor:pointer;
	color: #fff;
    	text-decoration: none;
}
#ndelik:hover {
	cursor:pointer;
	color: #82ce2a;
	text-decoration: none;
}
/*end css page3*/

/*iki css page4*/
.page4 {
        text-align: center;
	padding-top: 24%;
        font-weight: 200;
        line-height: 5px;
}
/*end css page4*/

/*iki css copyright*/
.copyright {
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-size: 14px;
    text-align: center;
}

#cs{
	color: #82CE2A;
	cursor:pointer;
	text-decoration: none;
}

#cs:hover{
	color: #fff;
	cursor:pointer;
}

.ngisor{
	position: fixed;
	width: 100%;
	height: 5px;
	bottom: 0px;
	background-color: #82CE2A;

}
.ngisor:a {
	bottom: 5px
}
/*end css copyright*/

/* Responsive ala najib code name = 768px */
@media only screen and (max-width: 768px){

body {
    background-color: #1F130F;
    color: #fff;
    font-family: Segoe Ui;
    font-size: 48px;
    /*overflow:hidden;*/
    margin: 0px;
    padding: 0px;
}

.container{
        width: 100%;
        height: 100%;
        background-color: #1F130F;
        position: absolute;
}

/*iki css section*/
#page1 {
        min-height: 1768px;
        width: 100%;
}
#page2 {
        background: #363D45;
        min-height: 1768px;
        width: 100%;
	padding-top: 45%;
}
#page3 {
        background: #1F130F;
        min-height: 1768px;
        width: 100%;
	padding-top: 45%;
}
#page4 {
        background: #363D45;
        min-height: 1768px;
        width: 100%;
	padding-top: 45%;
}

#page4:img {
	width: 300px;
}

/*end css section*/
/*iki css copyright*/
.copyright {
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-size: 30px;
    text-align: center;
    }
/*end css copyright*/
}
/*end of 768 px */

@media only screen and (max-width: 640px){

body {
    background-color: #1F130F;
    color: #fff;
    font-family: Segoe Ui;
    font-size: 24px;
    /*overflow:hidden;*/
    margin: 0px;
    padding: 0px;
}

.container{
        width: 100%;
        height: 100%;
        background-color: #1F130F;
        position: absolute;
}

/*iki css section*/
#page1 {
        min-height: 768px;
        width: 100%;
}

.page1 {
    color: #fff;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-weight: 200;
    line-height: 5px;
}

#page2 {
        background: #363D45;
        min-height: 768px;
        width: 100%;
        padding-top: 40%;
}
#page3 {
        background: #1F130F;
        min-height: 768px;
        width: 100%;
        padding-top: 40%;
}
#page4 {
        background: #363D45;
        min-height: 768px;
        width: 100%;
        padding-top: 45%;
}

.page4:img {
        width: 300px;
}

/*end css section*/
/*iki css copyright*/
.copyright {
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    text-align: center;}
/*end css copyright*/
}
/*end of 768 px */

