@charset "utf-8";

/**
* Kunena Component
* @package Kunena.Template.Blue_Eagle
*
* @Copyright (C) 2008 - 2016 Kunena Team. All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
* @link http://www.kunena.org
**/

/* Main styles */

#Kunena td,
#Kunena table,
#Kunena th,
#Kunena div,
#Kunena p,
#Kunena span {
	font-family: Tahoma, Helvetica, sans-serif;
}

#Kunena .knewchar {
	font-family: Tahoma, Helvetica, sans-serif;
}

/* Block styling */

#Kunena tr.ksth {
	font-family: Tahoma, Helvetica, sans-serif;
}

#Kunena td.kcol-mid {
	/* TODO: override left rule? */
	border-right-color: #BFC3C6;
}

#Kunena td.kcol-last {
	/* TODO: override left rule? */
	border-right-color: #BFC3C6;
}

/* Menu */

#Kunena #ktab a span {
	font-family: Tahoma, Helvetica, sans-serif;
}

#Kunena .klist-pages {
	/* TODO: override left rule? */
	border-right-color: #BFC3C6;
	font-family: Tahoma, Helvetica, sans-serif;
}

#Kunena .klist-times {
	/* TODO: override left rule? */
	border-right-color: #BFC3C6;
}

#Kunena .klist-actions-forum {
	/* TODO: override left rule? */
	border-right-color: #BFC3C6;
}

#Kunena .klist-pages-all {
	/* TODO: override left rule? */
	border-right-color: #BFC3C6;
	font-family: Tahoma, Helvetica, sans-serif;
}

#Kunena .klist-times-all {
	/* TODO: override left rule? */
	border-right-color: #BFC3C6;
}

#Kunena .klist-jump-all {
	/* TODO: override left rule? */
	border-right-color: #BFC3C6;
}

#Kunena .klist-categories {
	/* TODO: override left rule? */
	border-right-color: #BFC3C6;
}

/* Profilebox and loginbox */

#Kunena .kprofilebox-left {
	/* TODO: override right rule? */
	border-left-color: #BFC3C6;
}

#Kunena .kprofilebox-right {
	/* TODO: override left rule? */
	border-right-color: #BFC3C6;
}

/* Category List */

#Kunena .ktitle a {
	font-family: Tahoma, Helvetica, sans-serif;
}

#Kunena div.kthead-title a {
	font-family: Tahoma, Lucida, Arial, Helvetica, sans-serif;
}

/* View page */

#Kunena span.kmsgdate {
	font-family: Tahoma, Helvetica, sans-serif;
}

#Kunena div.kmsgtext pre,
#Kunena div.kmsgtext code {
	border-right-color: #F4A94F;
	border-left-color: #BFC3C6;
	font-family: Tahoma, Courier, monospace;
}

#Kunena span.kmessage-editmarkup {
	background-position: right center;
}

#Kunena div.kmsgtext-article,
#Kunena div.kmsgtext-quote,
#Kunena div.kmsgtext-hide,
#Kunena div.kmsgtext-confidential {
	font-family: Tahoma, Helvetica, sans-serif;
}

/* Avatar position: right */

#Kunena td.kprofile-right {
	/* TODO: override left rule? */
	border-right-color: #DDDDDD;
}

/* Avatar position: left */

#Kunena td.kprofile-left {
	/* TODO: override right rule? */
	border-left-color: #DDDDDD;
}

/* Mootools Autocompleter CSS classes */

ul.autocompleter-choices {
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
}
