.nextend-bullet-bar {
    display: inline-block;
}

.n2-bullet-bar-full-size {
    display: block;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.n2-bullet-bar-full-size.nextend-bullet-bar-horizontal {
    width: 100%;
}

.n2-bullet-bar-full-size.nextend-bullet-bar-vertical {
    height: 100%;
}

.nextend-bullet-bar > div {
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.4s;
    vertical-align: top;
}

.nextend-bullet-bar > div.n2-active {
    cursor: default;
}
div#n2-ss-2 .smart-slider-animate-slide.smart-slider-animate-in {
  z-index: 2;
  opacity: 1;
}
div#n2-ss-2 .smart-slider-animate-slide.smart-slider-animate-out {
  z-index: 3;
  opacity: 1;
}
div#n2-ss-2 {
  z-index: 3;
  margin: 0px 0px 0px 0px;
  position: relative;
}
div#n2-ss-2 * {
  font-size: inherit;
  line-height: inherit;
}
div#n2-ss-2 *,
div#n2-ss-2 *:before,
div#n2-ss-2 *:after {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
div#n2-ss-2.n2-ss-load-fade {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
div#n2-ss-2.n2-ss-load-fade.n2-ss-loaded {
  opacity: 1;
  position: relative;
}
div#n2-ss-2 .unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div#n2-ss-2 a,
div#n2-ss-2 a:focus {
  outline: none !important;
  transition: none 0s;
  border: 0;
}
div#n2-ss-2 h1,
div#n2-ss-2 h2,
div#n2-ss-2 h3,
div#n2-ss-2 h4,
div#n2-ss-2 h5,
div#n2-ss-2 h6,
div#n2-ss-2 p {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  height: auto;
  width: auto;
  border: 0;
  box-shadow: none;
}
div#n2-ss-2 img {
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
}
div#n2-ss-2 ul,
div#n2-ss-2 li,
div#n2-ss-2 img,
div#n2-ss-2 a,
div#n2-ss-2 p,
div#n2-ss-2 ol,
div#n2-ss-2 textarea,
div#n2-ss-2 input,
div#n2-ss-2 button {
  -moz-transition-property: none;
  -webkit-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
div#n2-ss-2 .n2-ss-slide,
div#n2-ss-2 .n2-ss-canvas {
  position: relative;
}
div#n2-ss-2 .n2-ss-slide,
div#n2-ss-2 .n2-ss-canvas {
  overflow: hidden !important;
}
div#n2-ss-2 .n2-ss-slide-background,
div#n2-ss-2 .n2-ss-slide-background > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#n2-ss-2 .n2-ss-slide-background img {
  max-width: none;
}
div#n2-ss-2 .n2-ss-slide-simple {
  width: 100% !important;
  height: 100% !important;
}
div#n2-ss-2 .n2-ss-slide-stretch {
  width: 100%;
  height: 100%;
}
div#n2-ss-2 .n2-ss-slide-center {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
div#n2-ss-2 .n2-ss-slide-tile {
  background-repeat: repeat;
  background-position: 50% 50%;
}
div#n2-ss-2 .n2-ss-slide-background-video {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
div#n2-ss-2 .n2-ss-slide-background-video.n2-active {
  visibility: visible;
}
div#n2-ss-2 .n2-ss-layers-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
div#n2-ss-2 .n2-ss-layer {
  position: absolute;
  outline: 1px solid RGBA(0,0,0,0);
}
div#n2-ss-2 .n2-ss-layer-parallax,
div#n2-ss-2 .n2-ss-layer-mask {
  width: 100%;
  height: 100%;
}
div#n2-ss-2.n2-ss-mobile .n2-ss-slider-1,
div#n2-ss-2.n2-ss-tablet .n2-ss-slider-1 {
  background-attachment: scroll !important;
}
div#n2-ss-2 .n2-ss-widget {
  display: none;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1;
  z-index: 12;
  font-size: 16px;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 1;
}
div#n2-ss-2 .n2-ss-widget.n2-ss-widget-hidden {
  opacity: 0 !important;
}
div#n2-ss-2.n2-ss-tablet .n2-ss-widget {
  font-size: 14px;
}
div#n2-ss-2.n2-ss-mobile .n2-ss-widget {
  font-size: 12px;
}
div#n2-ss-2 .n2-ss-tablet,
div#n2-ss-2 .n2-ss-mobile,
div#n2-ss-2.n2-ss-tablet .n2-ss-desktop,
div#n2-ss-2.n2-ss-mobile .n2-ss-desktop {
  display: none;
}
div#n2-ss-2 .n2-ss-desktop,
div#n2-ss-2.n2-ss-desktop .n2-ss-desktop,
div#n2-ss-2.n2-ss-tablet .n2-ss-tablet,
div#n2-ss-2.n2-ss-mobile .n2-ss-mobile {
  display: block;
}
div#n2-ss-2.n2-ss-desktop .n2-ss-widget-display-desktop,
div#n2-ss-2.n2-ss-tablet .n2-ss-widget-display-tablet,
div#n2-ss-2.n2-ss-mobile .n2-ss-widget-display-mobile {
  display: block;
}
div#n2-ss-2 .n2-ss-desktop.n2-ib,
div#n2-ss-2.n2-ss-desktop .n2-ss-desktop.n2-ib,
div#n2-ss-2.n2-ss-tablet .n2-ss-tablet.n2-ib,
div#n2-ss-2.n2-ss-mobile .n2-ss-mobile.n2-ib {
  display: inline-block;
}
div#n2-ss-2.n2-ss-desktop .n2-ss-widget-display-desktop.n2-ib,
div#n2-ss-2.n2-ss-tablet .n2-ss-widget-display-tablet.n2-ib,
div#n2-ss-2.n2-ss-mobile .n2-ss-widget-display-mobile.n2-ib {
  display: inline-block;
}
div#n2-ss-2 .n2-ss-widget-always {
  -webkit-transform: translate3d(0,0,0);
}
div#n2-ss-2 .n2-ss-widget-display-hover {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
div#n2-ss-2.n2-hover .n2-ss-widget-display-hover {
  opacity: 1;
}
div#n2-ss-2 .n2-ss-static-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  visibility: hidden;
  display: block;
  -webkit-backface-visibility: hidden;
}
div#n2-ss-2 .n2-ss-static-slide .n2-ss-layer,
div#n2-ss-2 .n2-ss-static-slide > div {
  visibility: visible;
}
div#n2-ss-2 .n2-ss-slide .nextend-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none !important;
  height: auto;
  background: rgba(0,0,0,0.002);
}
div#n2-ss-2 video {
  max-width: none;
}
div#n2-ss-2 .n2-ss-item-iframe {
  height: 100%;
}
div#n2-ss-2 .n2-grab {
  cursor: url(../cursor/openhand.cur), move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
div#n2-ss-2 .n2-grabbing {
  cursor: url(../cursor/closedhand.cur), move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
div#n2-ss-2 form {
  margin: 0;
  border: 0;
  padding: 0;
}
div#n2-ss-2 .n2-fake-input,
div#n2-ss-2 input {
  height: auto;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: Arial;
  box-shadow: none;
}
div#n2-ss-2 input:focus {
  outline: 0;
}
div#n2-ss-2 .n2-fake-input,
div#n2-ss-2 input[placeholder] {
  overflow: hidden;
  text-overflow: clip;
}
div#n2-ss-2 ::-moz-placeholder {
  text-overflow: clip;
}
div#n2-ss-2 input:-moz-placeholder {
  text-overflow: clip;
}
div#n2-ss-2 table {
  table-layout: auto;
  margin: 0;
}
.clear {
  clear: both;
}
div#n2-ss-2 .n2-ss-background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
div#n2-ss-2 .n2-ss-background-animation img {
  max-width: none;
}
div#n2-ss-2 .n2-ss-background-animation .n2-3d-side {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #333;
  outline: 1px solid rgba(0,0,0,0);
}
div#n2-ss-2 .n2-ss-background-animation .n2-ff-3d,
div#n2-ss-2 .n2-ss-background-animation .tile {
  outline: 1px solid rgba(0,0,0,0);
}
div#n2-ss-2 {
  width: 900px;
  height: 150px;
  float: left;
}
html[dir="rtl"] div#n2-ss-2 {
  float: right;
}
div#n2-ss-2 .n2-ss-slider-1 {
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 150px;
  border-style: solid;
  border-width: 0px;
  border-color: #3E3E3E;
  border-color: RGBA(62,62,62,1);
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}
div#n2-ss-2 .n2-ss-slider-background-video {
  position: absolute;
  left: 0;
  top: 0;
}
div#n2-ss-2 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
}
div#n2-ss-2 .n2-ss-slider-3 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.x-firefox div#n2-ss-2 .n2-ss-slider-2 {
  opacity: 0.99999;
}
div#n2-ss-2 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 150px;
  z-index: 2;
  display: block;
  -webkit-backface-visibility: hidden;
}
div#n2-ss-2 .n2-ss-layers-container {
  position: relative;
  width: 900px;
  height: 150px;
}
div#n2-ss-2 .n2-ss-slide-active {
  z-index: 3;
}
div#n2-ss-2 .nextend-thumbnail-default,
div#n2-ss-2 .nextend-thumbnail-inner {
  overflow: hidden;
}
div#n2-ss-2 .n2-ss-thumb-image {
  background-size: cover;
  display: inline-block;
}
div#n2-ss-2 .nextend-thumbnail-inner {
  width: 100%;
  height: 100%;
}
div#n2-ss-2 .nextend-thumbnail-button {
  position: absolute;
  z-index: 2;
  transition: all 0.4s;
  opacity: 0;
  cursor: pointer;
}
div#n2-ss-2 .nextend-thumbnail-vertical .nextend-thumbnail-button {
  left: 50%;
  margin-left: -13px !important;
}
div#n2-ss-2 .nextend-thumbnail-vertical .nextend-thumbnail-previous {
  top: -26px;
}
div#n2-ss-2 .nextend-thumbnail-vertical .nextend-thumbnail-previous.n2-active {
  top: 10px;
  opacity: 1;
}
div#n2-ss-2 .nextend-thumbnail-vertical .nextend-thumbnail-next {
  bottom: -26px;
}
div#n2-ss-2 .nextend-thumbnail-vertical .nextend-thumbnail-next.n2-active {
  bottom: 10px;
  opacity: 1;
}
div#n2-ss-2 .nextend-thumbnail-horizontal .nextend-thumbnail-button {
  top: 50%;
  margin-top: -13px !important;
  transform: rotateZ(-90deg);
}
div#n2-ss-2 .nextend-thumbnail-horizontal .nextend-thumbnail-previous {
  left: -26px;
}
div#n2-ss-2 .nextend-thumbnail-horizontal .nextend-thumbnail-previous.n2-active {
  left: 10px;
  opacity: 1;
}
div#n2-ss-2 .nextend-thumbnail-horizontal .nextend-thumbnail-next {
  right: -26px;
}
div#n2-ss-2 .nextend-thumbnail-horizontal .nextend-thumbnail-next.n2-active {
  right: 10px;
  opacity: 1;
}
div#n2-ss-2 .nextend-thumbnail-default .nextend-thumbnail-scroller {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  white-space: nowrap;
}
div#n2-ss-2 .nextend-thumbnail-default .nextend-thumbnail-scroller td > div {
  overflow: hidden;
  position: relative;
  float: left;
  background-size: cover;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  cursor: pointer;
}
div#n2-ss-2 .nextend-thumbnail-default .nextend-thumbnail-scroller td > div.n2-active {
  cursor: default;
}
div#n2-ss-2 .nextend-thumbnail-default table,
div#n2-ss-2 .nextend-thumbnail-default td {
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
div#n2-ss-2 .nextend-thumbnail-default .n2-ss-caption {
  display: inline-block;
  white-space: normal;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  overflow: hidden;
}
div#n2-ss-2 .nextend-thumbnail-default .n2-caption-overlay {
  position: absolute;
}
div#n2-ss-2 .nextend-thumbnail-default .n2-caption-overlay div {
  float: left;
  clear: left;
}
div#n2-ss-2 .nextend-thumbnail-horizontal .n2-ss-caption {
  display: block;
}
div#n2-ss-2 .nextend-thumbnail-vertical .n2-caption-after,
div#n2-ss-2 .nextend-thumbnail-vertical .n2-caption-before {
  height: 100%;
}

div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph{font-family: 'Montserrat','Arial';color: #ffffff;font-size:87.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a{font-family: 'Montserrat','Arial';color: #1890d7;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a:HOVER, div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a:ACTIVE, div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a:FOCUS{font-family: 'Montserrat','Arial';color: #1890d7;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}

div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph{font-family: 'Montserrat','Arial';color: #ffffff;font-size:87.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a{font-family: 'Montserrat','Arial';color: #1890d7;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a:HOVER, div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a:ACTIVE, div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a:FOCUS{font-family: 'Montserrat','Arial';color: #1890d7;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}

div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph{font-family: 'Montserrat','Arial';color: #ffffff;font-size:87.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a{font-family: 'Montserrat','Arial';color: #1890d7;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a:HOVER, div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a:ACTIVE, div#n2-ss-2 .n2-font-d81348549ccf12c036c90e597102d1fd-paragraph a:FOCUS{font-family: 'Montserrat','Arial';color: #1890d7;font-size:100%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}

div#n2-ss-2 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot{background: #000000;background: RGBA(0,0,0,0.67);padding:5px 5px 5px 5px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:50px;margin: 4px;}
div#n2-ss-2 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot.n2-active, div#n2-ss-2 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot:HOVER{background: #00c1c4;}

div#n2-ss-2 .n2-style-41800c000709f41c35eb573c365dd43d-simple{background: #000000;background: RGBA(0,0,0,0);padding:3px 3px 3px 3px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;}

div#n2-ss-2 .n2-style-0d7e6147d938756e488febb9fea88b5d-dot{background: #000000;background: RGBA(0,0,0,0);padding:0px 0px 0px 0px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #ffffff; border-color: RGBA(255,255,255,0);border-radius:0px;opacity: 0.4;
margin: 3px;
transition: all 0.4s;
background-size: cover;}
div#n2-ss-2 .n2-style-0d7e6147d938756e488febb9fea88b5d-dot.n2-active, div#n2-ss-2 .n2-style-0d7e6147d938756e488febb9fea88b5d-dot:HOVER{border-width: 0px;border-style: solid;border-color: #ffffff; border-color: RGBA(255,255,255,0.8);opacity: 1;}

