/**
 * @package         NoNumber Framework
 * @version         16.1.25452
 * 
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2016 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
body.nnpopup {
  padding: 0;
}
body.nnpopup .container-fluid {
  padding: 0 20px;
}
body.nnpopup .subhead {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
body.nnpopup .page-title {
  text-align: left;
}
body.nnpopup .header {
  margin-left: 0;
  margin-right: 0;
}
body.nnpopup label > span[class^="nnicon"] {
  padding: 1px 0 3px;
}
body.nnpopup .nn_overlay {
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  opacity: .2;
  cursor: wait;
}
