/**
* Kunena Component
* @package Kunena.Template.Crypsis
*
* @copyright (C) 2008 - 2016 Kunena Team. All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
* @link http://www.kunena.org
**/


/* CSS suffix support for category specific styling (Leave this section at the bottom)
----------------------------------------------------------------------------------------------- */

/* -red category suffix
------------------------------------------------------ */

.category-red:nth-child(even) {
	background-color: #FFCFCF;
}

.category-red:nth-child(2n+1) {
	background-color: #FFDDDD;
}


/* -green category suffix
----------------------------------------------------- */

.category-green:nth-child(even) {
	background-color: #d2f8db;
}

.category-green:nth-child(odd) {
	background-color: #bfe5c7;
}

/* -yellow category suffix
------------------------------------------------------ */

.category-yellow:nth-child(even) {
	background-color: #FFFFCC;
}

.category-yellow:nth-child(odd) {
	background-color: #FFFFAA;
}

/* -blue category suffix
------------------------------------------------------- */

.category-blue:nth-child(even) {
	background-color: #c3f0ff;
}

.category-blue:nth-child(odd) {
	background-color: #b1e3ff;
}

/* -grey category suffix
------------------------------------------------------ */

.category-grey:nth-child(even) {
	background-color: #e5e5e5;
}

.category-grey:nth-child(odd) {
	background-color: #d5d5d5;
}

/* -pink category suffix
---------------------------------------------------- */

.category-pink:nth-child(even) {
	background-color: #ffddff;
}

.category-pink:nth-child(odd) {
	background-color: #ffd0ff;
}
