/**
* Kunena Component
* @package Kunena.Template.Crypsis
*
* @copyright (C) 2008 - 2016 Kunena Team. All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
* @link http://www.kunena.org
**/

a:after {
	background-color:yellow;
}

a[rel=follow]:after {
	content: ' (follow) ';
}

a[rel=alternate]:after {
	content: ' (alternate) ';
}

a[rel=author]:after {
	content: ' (author) ';
}

a[rel=bookmark]:after {
	content: ' (bookmark) ';
}

a[rel=help]:after {
	content: ' (help) ';
}

a[rel=license]:after {
	content: ' (license) ';
}

a[rel=next]:after {
	content: ' (next) ';
}

a[rel=nofollow]:after {
	content: ' (nofollow) ';
}

a[rel=noreferrer]:after {
	content: ' (noreferrer) ';
}

a[rel=prefetch]:after {
	content: ' (prefecth) ';
}

a[rel=prev]:after {
	content: ' (prev) ';
}

a[rel=search]:after {
	content: ' (search) ';
}

a[rel=tag]:after {
  content: ' (tag) ';
}
