/**
* Kunena Component
* @package Kunena.Template.Crypsis
*
* @copyright (C) 2008 - 2016 Kunena Team. All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
* @link http://www.kunena.org
**/

.large-kicon {
	width: 18px;
	height: 18px;
	margin-right: 0;
	line-height: 18px;
	font-size: 18px;
}

.icon-feed::before {
	color: orange
}

.kfile-input {
	display: block;
	overflow: hidden;
}

.kspoiler-wrapper {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	min-height: 5px;
	width: 100%;
	background-color: #ffc;
}

.kicon {
	border: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.kspoiler-header {
	cursor: pointer;
}

.kmark-read {
	width: 16px;
	height: 16px;
}

div.krss-block {
	float: right;
}

.kspoiler {
	cursor: auto;
}

.kspoiler-expand,
.kspoiler-hide {
	color: #888;
}

.ktopicpoll {
	margin: 2px;
	width: 32px;
	height: 32px;
	float: right;
}

.kforumbottom {
	width: 18px;
	height: 15px;
}

.kspoiler-content {
	margin: 10px 5px;
}

.kfavoritestar {
	width: 16px;
	height: 16px;
}

.kspoiler-title {
	font-weight: bold;
}

.krss-small {
	width: 16px;
	height: 16px;
}

.kforumtop {
	width: 18px;
	height: 15px;
}

.kgooglemap {
	width: 100%;
	display: block;
	height: 480px;
	overflow: hidden;
	position: relative;
	img {
		max-width: none !important;
	}
}
