/**
* Kunena Component
* @package Kunena.Template.Crypsis
*
* @copyright (C) 2008 - 2016 Kunena Team. All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
* @link http://www.kunena.org
**/

.kicon-profile {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: text-top;
	margin-right: 3px;
	background : url("../media/iconsets/profile/default/default.png") no-repeat;
}

.kicon-profile-skype-off {
	background-position: 0 -920px;
}

.kicon-profile-myspace {
	background-position: 0 -416px;
}

.kicon-profile-digg {
	background-position: 0 -105px;
}

.kicon-profile-birthdate {
	background-position: 0 -42px;
}

.kicon-profile-blogspot-off {
	background-position: 0 -626px;
}

.kicon-profile-aim-off {
	background-position: 0 -563px;
}

.kicon-profile-yim {
	background-position: 0 -542px;
}

.kicon-profile-twitter {
	background-position: 0 -500px;
}

.kicon-profile-pm {
	background-position: 0 -437px;
}

.kicon-profile-msn {
	background-position: 0 -395px;
}

.kicon-profile-myspace-off {
	background-position: 0 -857px;
}

.kicon-profile-friendfeed {
	background-position: 0 -210px;
}

.kicon-profile-yim-off {
	background-position: 0 -983px;
}

.kicon-profile-pm-off {
	background-position: 0 -878px;
}

.kicon-profile-flickr-off {
	background-position: 0 -710px;
}

.kicon-profile-digg-off {
	background-position: 0 -668px;
}

.kicon-profile-bebo-off {
	background-position: 0 -584px;
}

.kicon-profile-website {
	background-position: 0 -521px;
}

.kicon-profile-remind {
	background-position: 0 -458px;
}

.kicon-profile-gtalk {
	background-position: 0 -252px;
}

.kicon-profile-bebo {
	background-position: 0 -21px;
}

.kicon-profile-linkedin-off {
	background-position: 0 -815px;
}

.kicon-profile-gender-unknown {
	background-position: 0 -231px;
}

.kicon-profile-facebook {
	background-position: 0 -147px;
}

.kicon-profile-email {
	background-position: 0 -126px;
}

.kicon-profile-delicious {
	background-position: 0 -84px;
}

.kicon-profile-website-off {
	background-position: 0 -962px;
}

.kicon-profile-remind-off {
	background-position: 0 -899px;
}

.kicon-profile-msn-off {
	background-position: 0 -836px;
}

.kicon-profile-icq {
	background-position: 0 -273px;
}

.kicon-profile-flickr {
	background-position: 0 -189px;
}

.kicon-profile-friendfeed-off {
	background-position: 0 -731px;
}

.kicon-profile-facebook-off {
	background-position: 0 -689px;
}

.kicon-profile-skype {
	background-position: 0 -479px;
}

.kicon-profile-location {
	background-position: 0 -353px;
}

.kicon-profile-twitter-off {
	background-position: 0 -941px;
}

.kicon-profile-gtalk-off {
	background-position: 0 -773px;
}

.kicon-profile-birthday-off {
	background-position: 0 -605px;
}

.kicon-profile-gender-male {
	background-position: 0 -374px;
}

.kicon-profile-delicious-off {
	background-position: 0 -647px;
}

.kicon-profile-linkedin {
	background-position: 0 -332px;
}

.kicon-profile-gender-female {
	background-position: 0 -168px;
}

.kicon-profile-blogspot {
	background-position: 0 -63px;
}

.kicon-profile-icq-off {
	background-position: 0 -794px;
}

.kicon-profile-gender-off {
	background-position: 0 -752px;
}

.kicon-profile-aim {
	background-position: 0 0;
}

span.kicon-profile-website,
span.kicon-profile-pm {
	vertical-align: top;
	margin-top: 3px;
}

.kavatar {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
