/**
* Kunena Component
* @package Kunena.Template.Crypsis
*
* @copyright (C) 2008 - 2016 Kunena Team. All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
* @link http://www.kunena.org
**/


.kwho-guest {
	color: #666666;
}

.kwho-user {
	color: #5388B4;
}

.kwho-moderator {
	color: #0000FF;
}

.kwho-globalmoderator {
	color: #800000;
}

.kwho-admin {
	color: #FF0000;
}

.kwho-blocked,
.kwho-banned {
	color: #A39D49;
}
