
/* Sticky footer styles
-------------------------------------------------- */

#wrap {
  padding-bottom:150px;
}

/* Set the fixed height of the footer here */
#footer {
  float: left;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #f5f5f5;
  height: 60px;
  width: 100%;
}

.container .credit {
	margin: 10px 0;
}

#wrap > .container {
	margin-top: 10px;
}

.breadcrumb > .active
{
	font-weight: bold;
	color: #006dcc;
	text-shadow: 1px 3px #f9f9f6;
}

#restoration-lbl-error
{
	height: 200px;
	overflow: scroll;
}

pre.scrollmore
{
	width: 100%;
	height: 300px;
	overflow: scroll;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
	display: none;
  }
}