.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rok-left {
  float: left;
}
.rok-right {
  float: right;
}
.rok-dropdown-group,
.rok-dropdown {
  position: relative;
}
.rok-dropdown-open .rok-dropdown {
  display: block;
}
.rok-popover-group,
.rok-popover {
  position: relative;
}
.rok-popover-open .rok-popover {
  display: block;
}
.gf-menu {
  margin: 0 auto 0;
  list-style: none;
  position: relative;
}
.gf-menu:after {
  display: table;
  content: '';
  clear: both;
}
.gf-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gf-menu .item {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #1f2a30;
  font-weight: bold;
  padding: 4px 12px;
  text-align: left;
  text-decoration: none;
  display: block;
  outline: 0;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.gf-menu .item.subtext {
  padding-top: 1px;
  padding-bottom: 4px;
}
.gf-menu .item.subtext > em {
  display: block;
  font-size: 9px;
  line-height: 9px;
  color: #bfbfbf;
  text-align: left;
  font-style: normal;
}
.gf-menu .item.icon [class^="icon-"],
.gf-menu .item.icon [class*= " icon-"] {
  background-image: none !important;
  width: auto;
}
.gf-menu .item.icon [class^="icon-"]:before,
.gf-menu .item.icon [class*= " icon-"]:before {
  text-indent: 0;
  margin-right: 5px;
}
.gf-menu .item .menu-image {
  max-width: inherit;
  vertical-align: text-top;
  margin-top: -2px;
  margin-left: -2px;
}
.gf-menu.l1 > li.active .item {
  color: #34ccff;
  background: url(../images/menu-arrow.png) no-repeat top center;
}
.gf-menu.l1 > li > .item {
  font-size: 17px;
  padding-top: 11px;
  line-height: 29px;
  position: relative;
  padding-bottom: 11px;
}
.gf-menu.l1 > li > .item.subtext {
  padding-top: 1px;
  padding-bottom: 4px;
}
.gf-menu.l1 > li > .item .menu-image {
  margin-top: -1px;
}
.gf-menu li {
  padding: 0;
  float: left;
  border: none;
  display: block;
  position: relative;
  text-align: center;
  margin-right: 20px;
}
.gf-menu li.parent > .item {
  position: relative;
  padding-right: 25px;
}
.gf-menu li.parent > .item:after {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -12px;
  font-family: FontAwesome;
  content: "\f078";
  font-size: 11px;
}
.gf-menu .dropdown {
  margin: 0 auto;
  padding: 10px 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: auto;
  text-align: left;
  border-top: none;
  border: 1px solid #ddd;
  border-bottom: 5px solid #34ccff;
  box-shadow: 0 2px 3px 0 #eee;
  background: #fff;
  z-index: 1000;
  transform: translate3d(0px,100%,0px);
}
.gf-menu .dropdown .flyout {
  display: block;
}
.gf-menu .dropdown ul li {
  display: block;
  float: none;
  margin-right: 0;
  padding: 0 5px;
  border: 0;
}
.gf-menu .dropdown ul li.active > .item {
  border: none;
  color: #34ccff !important;
  background: none;
}
.gf-menu .dropdown ul li.active > .item:before {
  background: #34ccff;
}
.gf-menu .dropdown ul li .item {
  border: none !important;
  color: #1f2a30 !important;
  background: none !important;
}
.gf-menu .dropdown ul li .item:before {
  width: 5px;
  float: left;
  height: 5px;
  content: "";
  display: block;
  margin-left: 0;
  margin-top: 8px;
  margin-right: 10px;
  background: #1f2a30;
}
.gf-menu .dropdown ul li.parent > .item:after {
  margin-top: -10px;
  font-family: FontAwesome;
  content: "\f054";
  font-size: 11px;
}
.gf-menu .dropdown ul li.parent .dropdown {
  transform: translate3d(-100%,0%,0px);
}
.gf-menu .dropdown .grouped > a.item {
  font-size: 30px;
}
.gf-menu .dropdown .grouped > a.item:before {
  display: none;
}
.gf-menu .dropdown .grouped > a.item .fa:before {
  font-size: 35px;
  padding-right: 15px;
}
.gf-menu .dropdown .grouped > a.item .fa.fa-mobile:before {
  font-size: 45px;
}
.gf-menu .dropdown .grouped.parent > .item .border-fixer {
  display: none;
}
.gf-menu .dropdown .grouped.parent > .item:after {
  font-family: FontAwesome;
  content: "\f078";
  font-size: 11px;
  display: none;
}
.gf-menu .dropdown .grouped ol {
  margin: 6px 0px;
  padding: 3px 0;
}
.gf-menu .dropdown .grouped ol > li > .item {
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.gf-menu .dropdown .modules {
  text-align: left;
  color: #bfbfbf;
}
.gf-menu .dropdown .modules .module-content {
  padding: 0 10px;
}
.gf-menu .dropdown .modules .module-content h1,
.gf-menu .dropdown .modules .module-content h2,
.gf-menu .dropdown .modules .module-content h3,
.gf-menu .dropdown .modules .module-content h4,
.gf-menu .dropdown .modules .module-content h5 {
  color: #f2f2f2;
}
.gf-menu .dropdown .modules .module-content a {
  color: #ffffff;
}
.gf-menu .dropdown .modules .module-content p {
  margin: 0 0 10px 0;
  font-size: 12px;
  line-height: 18px;
}
.gf-menu .column {
  float: left;
  position: relative;
}
.gf-menu .position-left {
  float: left;
  margin-right: 15px;
}
.gf-menu .position-right {
  float: right;
  margin-left: 15px;
}
.gf-menu.gf-splitmenu li.parent:hover {
  border-radius: 4px;
}
.gf-menu-toggle {
  padding: 7px 10px;
  border-top: 0;
  border-radius: 4px;
  background: none;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.gf-menu-toggle .icon-bar {
  background-color: #d8d8d8;
  border-radius: 1px 1px 1px 1px;
  display: block;
  height: 3px;
  width: 22px;
}
.gf-menu-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .layout-mode-responsive .gf-menu.l1 > li {
    margin-right: 5px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .layout-mode-responsive .gf-menu.l1 > li {
    margin-right: 5px;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item {
    font-size: 14px;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item.subtext {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item.subtext em {
    display: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item.image img {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .clearfix {
    *zoom: 1;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .clearfix:after {
    clear: both;
  }
  .hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  .input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .rok-left {
    float: left;
  }
  .rok-right {
    float: right;
  }
  .rok-dropdown-group,
  .rok-dropdown {
    position: relative;
  }
  .rok-dropdown-open .rok-dropdown {
    display: block;
  }
  .rok-popover-group,
  .rok-popover {
    position: relative;
  }
  .rok-popover-open .rok-popover {
    display: block;
  }
  .gf-menu.l1 > li:hover > .item .border-fixer {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 0px;
    z-index: 1001;
  }
  .gf-menu li:hover,
  .gf-menu li.active:hover {
    transition-duration: 5000ms;
    -webkit-transition-duration: 5000ms;
  }
  .gf-menu li:hover > .dropdown,
  .gf-menu li.active:hover > .dropdown {
    left: -1px;
    top: auto;
    opacity: 1;
    visibility: visible;
    transform: translate3d(0px,0%,0px);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  .gf-menu li:hover > .item {
    color: #34ccff;
    background: url(../images/menu-arrow.png) no-repeat top center;
  }
  .gf-menu .dropdown ul li:hover > .item {
    background: none;
    color: #34ccff !important;
  }
  .gf-menu .dropdown ul li:hover > .item .border-fixer {
    display: block;
    position: absolute;
    height: 100%;
    width: 2px;
    right: -1px;
    top: 0px;
    z-index: 1001;
  }
  .gf-menu .dropdown ul li:hover > .item:before {
    background: #34CCFF;
  }
  .gf-menu .dropdown .modules:hover,
  .gf-menu .dropdown .modules ul li:hover {
    padding-top: 0 !important;
  }
  .gf-menu .dropdown li:hover > .flyout {
    top: 1px;
    left: 100%;
    margin-left: 0;
  }
  body.rtl li:hover > .dropdown,
  body.rtl li.active:hover > .dropdown {
    left: inherit;
    right: -1px;
  }
  body.rtl .dropdown ul li:hover > .flyout {
    left: inherit;
    right: 100%;
    margin-left: auto;
    margin-right: -6px;
  }
  body.rtl .dropdown ul li:hover > .item .border-fixer {
    right: inherit;
    left: -1px;
  }
  [data-effect='pure-effect-slideAlong'] .pure-drawer {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  [data-effect='pure-effect-slideAlong'] .pure-drawer[data-position='left'] {
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
  }
  [data-effect='pure-effect-slideAlong'] .pure-drawer[data-position='right'] {
    -webkit-transform: translate3d(50%,0,0);
    transform: translate3d(50%,0,0);
  }
  [data-effect='pure-effect-slideAlong'] .pure-drawer[data-position='top'] {
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
  }
  [data-effect='pure-effect-slideAlong'] .pure-toggle[data-toggle='left']:checked ~ .pure-drawer[data-position='left'],
  [data-effect='pure-effect-slideAlong'] .pure-toggle[data-toggle='right']:checked ~ .pure-drawer[data-position='right'],
  [data-effect='pure-effect-slideAlong'] .pure-toggle[data-toggle='top']:checked ~ .pure-drawer[data-position='top'] {
    visibility: visible;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .gf-menu li:hover > .dropdown ul li:hover .dropdown,
  .gf-menu li.active:hover > .dropdown ul li:hover .dropdown {
    transform: translate3d(0%,0%,0px);
  }
  .gf-menu li:hover > .dropdown,
  .gf-menu li.active:hover > .dropdown {
    left: -1px;
    top: auto;
    opacity: 1;
    visibility: visible;
    transform: translate3d(0px,0%,0px);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
}
.layout-mode-960fixed .clearfix,
.layout-mode-1200fixed .clearfix {
  *zoom: 1;
}
.layout-mode-960fixed .clearfix:before,
.layout-mode-960fixed .clearfix:after,
.layout-mode-1200fixed .clearfix:before,
.layout-mode-1200fixed .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.layout-mode-960fixed .clearfix:after,
.layout-mode-1200fixed .clearfix:after {
  clear: both;
}
.layout-mode-960fixed .hide-text,
.layout-mode-1200fixed .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.layout-mode-960fixed .input-block-level,
.layout-mode-1200fixed .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.layout-mode-960fixed .rok-left,
.layout-mode-1200fixed .rok-left {
  float: left;
}
.layout-mode-960fixed .rok-right,
.layout-mode-1200fixed .rok-right {
  float: right;
}
.layout-mode-960fixed .rok-dropdown-group,
.layout-mode-960fixed .rok-dropdown,
.layout-mode-1200fixed .rok-dropdown-group,
.layout-mode-1200fixed .rok-dropdown {
  position: relative;
}
.layout-mode-960fixed .rok-dropdown-open .rok-dropdown,
.layout-mode-1200fixed .rok-dropdown-open .rok-dropdown {
  display: block;
}
.layout-mode-960fixed .rok-popover-group,
.layout-mode-960fixed .rok-popover,
.layout-mode-1200fixed .rok-popover-group,
.layout-mode-1200fixed .rok-popover {
  position: relative;
}
.layout-mode-960fixed .rok-popover-open .rok-popover,
.layout-mode-1200fixed .rok-popover-open .rok-popover {
  display: block;
}
.layout-mode-960fixed .gf-menu.l1 > li:hover > .item .border-fixer,
.layout-mode-1200fixed .gf-menu.l1 > li:hover > .item .border-fixer {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0px;
  z-index: 1001;
}
.layout-mode-960fixed .gf-menu li:hover,
.layout-mode-960fixed .gf-menu li.active:hover,
.layout-mode-1200fixed .gf-menu li:hover,
.layout-mode-1200fixed .gf-menu li.active:hover {
  transition-duration: 5000ms;
  -webkit-transition-duration: 5000ms;
}
.layout-mode-960fixed .gf-menu li:hover > .dropdown,
.layout-mode-960fixed .gf-menu li.active:hover > .dropdown,
.layout-mode-1200fixed .gf-menu li:hover > .dropdown,
.layout-mode-1200fixed .gf-menu li.active:hover > .dropdown {
  left: -1px;
  top: auto;
  opacity: 1;
  visibility: visible;
  transform: translate3d(0px,0%,0px);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.layout-mode-960fixed .gf-menu li:hover > .item,
.layout-mode-1200fixed .gf-menu li:hover > .item {
  color: #34ccff;
  background: url(../images/menu-arrow.png) no-repeat top center;
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover > .item,
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover > .item {
  background: none;
  color: #34ccff !important;
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover > .item .border-fixer,
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover > .item .border-fixer {
  display: block;
  position: absolute;
  height: 100%;
  width: 2px;
  right: -1px;
  top: 0px;
  z-index: 1001;
}
.layout-mode-960fixed .gf-menu .dropdown ul li:hover > .item:before,
.layout-mode-1200fixed .gf-menu .dropdown ul li:hover > .item:before {
  background: #34CCFF;
}
.layout-mode-960fixed .gf-menu .dropdown .modules:hover,
.layout-mode-960fixed .gf-menu .dropdown .modules ul li:hover,
.layout-mode-1200fixed .gf-menu .dropdown .modules:hover,
.layout-mode-1200fixed .gf-menu .dropdown .modules ul li:hover {
  padding-top: 0 !important;
}
.layout-mode-960fixed .gf-menu .dropdown li:hover > .flyout,
.layout-mode-1200fixed .gf-menu .dropdown li:hover > .flyout {
  top: 1px;
  left: 100%;
  margin-left: 0;
}
.layout-mode-960fixed body.rtl li:hover > .dropdown,
.layout-mode-960fixed body.rtl li.active:hover > .dropdown,
.layout-mode-1200fixed body.rtl li:hover > .dropdown,
.layout-mode-1200fixed body.rtl li.active:hover > .dropdown {
  left: inherit;
  right: -1px;
}
.layout-mode-960fixed body.rtl .dropdown ul li:hover > .flyout,
.layout-mode-1200fixed body.rtl .dropdown ul li:hover > .flyout {
  left: inherit;
  right: 100%;
  margin-left: auto;
  margin-right: -6px;
}
.layout-mode-960fixed body.rtl .dropdown ul li:hover > .item .border-fixer,
.layout-mode-1200fixed body.rtl .dropdown ul li:hover > .item .border-fixer {
  right: inherit;
  left: -1px;
}
.layout-mode-960fixed [data-effect='pure-effect-slideAlong'] .pure-drawer,
.layout-mode-1200fixed [data-effect='pure-effect-slideAlong'] .pure-drawer {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.layout-mode-960fixed [data-effect='pure-effect-slideAlong'] .pure-drawer[data-position='left'],
.layout-mode-1200fixed [data-effect='pure-effect-slideAlong'] .pure-drawer[data-position='left'] {
  -webkit-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0);
}
.layout-mode-960fixed [data-effect='pure-effect-slideAlong'] .pure-drawer[data-position='right'],
.layout-mode-1200fixed [data-effect='pure-effect-slideAlong'] .pure-drawer[data-position='right'] {
  -webkit-transform: translate3d(50%,0,0);
  transform: translate3d(50%,0,0);
}
.layout-mode-960fixed [data-effect='pure-effect-slideAlong'] .pure-drawer[data-position='top'],
.layout-mode-1200fixed [data-effect='pure-effect-slideAlong'] .pure-drawer[data-position='top'] {
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}
.layout-mode-960fixed [data-effect='pure-effect-slideAlong'] .pure-toggle[data-toggle='left']:checked ~ .pure-drawer[data-position='left'],
.layout-mode-960fixed [data-effect='pure-effect-slideAlong'] .pure-toggle[data-toggle='right']:checked ~ .pure-drawer[data-position='right'],
.layout-mode-960fixed [data-effect='pure-effect-slideAlong'] .pure-toggle[data-toggle='top']:checked ~ .pure-drawer[data-position='top'],
.layout-mode-1200fixed [data-effect='pure-effect-slideAlong'] .pure-toggle[data-toggle='left']:checked ~ .pure-drawer[data-position='left'],
.layout-mode-1200fixed [data-effect='pure-effect-slideAlong'] .pure-toggle[data-toggle='right']:checked ~ .pure-drawer[data-position='right'],
.layout-mode-1200fixed [data-effect='pure-effect-slideAlong'] .pure-toggle[data-toggle='top']:checked ~ .pure-drawer[data-position='top'] {
  visibility: visible;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.layout-mode-960fixed .gf-menu li:hover > .dropdown ul li:hover .dropdown,
.layout-mode-960fixed .gf-menu li.active:hover > .dropdown ul li:hover .dropdown,
.layout-mode-1200fixed .gf-menu li:hover > .dropdown ul li:hover .dropdown,
.layout-mode-1200fixed .gf-menu li.active:hover > .dropdown ul li:hover .dropdown {
  transform: translate3d(0%,0%,0px);
}
.layout-mode-960fixed .gf-menu li:hover > .dropdown,
.layout-mode-960fixed .gf-menu li.active:hover > .dropdown,
.layout-mode-1200fixed .gf-menu li:hover > .dropdown,
.layout-mode-1200fixed .gf-menu li.active:hover > .dropdown {
  left: -1px;
  top: auto;
  opacity: 1;
  visibility: visible;
  transform: translate3d(0px,0%,0px);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
@media (max-width: 959px) {
  .layout-mode-responsive .gf-menu-device-wrapper {
    margin-bottom: 15px !important;
  }
  .layout-mode-responsive .gf-menu-device-container {
    background: #fff;
    border: 1px solid #343434;
    border-top: 0;
    -webkit-box-shadow: inset 0px 1px 0px #343434, inset 0px 2px 0px #585858;
    -moz-box-shadow: inset 0px 1px 0px #343434, inset 0px 2px 0px #585858;
    box-shadow: inset 0px 1px 0px #343434, inset 0px 2px 0px #585858;
    border-radius: 5px;
    padding: 5px;
  }
  .layout-mode-responsive .gf-menu-device-container select {
    margin-bottom: 0;
    width: 100%;
  }
  .layout-mode-responsive .gf-menu {
    margin-top: 15px;
    background-clip: content-box;
    border-top: 15px solid transparent;
    -webkit-background-clip: content-box;
    background: #fff url(../images/menu/tree-main.png) repeat-y !important;
  }
  .layout-mode-responsive .gf-menu ul,
  .layout-mode-responsive .gf-menu ol {
    background: #fff url(../images/menu/tree-main.png) repeat-y !important;
  }
  .layout-mode-responsive .gf-menu li {
    background: url(../images/menu/tree-node.png) no-repeat;
    padding-left: 20px !important;
    margin-right: 0 !important;
  }
  .layout-mode-responsive .gf-menu li.active.last {
    background: url(../images/menu/tree-node.png) no-repeat !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .layout-mode-responsive .gf-menu li.active.last > .item {
    border: none;
    background: none;
  }
  .layout-mode-responsive .gf-menu li .columns-1 > .col1 > ul > li:last-child,
  .layout-mode-responsive .gf-menu li .columns-2 > .col2 > ul > li:last-child,
  .layout-mode-responsive .gf-menu li .columns-3 > .col3 > ul > li:last-child,
  .layout-mode-responsive .gf-menu li .columns-4 > .col4 > ul > li:last-child {
    background: #fff url(../images/menu/tree-node-last.png) 0 -2px no-repeat !important;
  }
  .layout-mode-responsive .gf-menu li ol > li:last-child {
    background: #fff url(../images/menu/tree-node-last.png) 0 -2px no-repeat !important;
  }
  .layout-mode-responsive .gf-menu li:hover > .item {
    color: #34ccff !important;
  }
  .layout-mode-responsive .gf-menu li .item {
    padding: 2px 5px !important;
  }
  .layout-mode-responsive .gf-menu li .item.subtext em {
    display: none;
  }
  .layout-mode-responsive .gf-menu li .item:after {
    content: '' !important;
  }
  .layout-mode-responsive .gf-menu > li:first-child,
  .layout-mode-responsive .gf-menu > li:first-child.active {
    margin-top: -29px;
    background: url(../images/menu/tree-node-first.png) no-repeat !important;
  }
  .layout-mode-responsive .gf-menu > li:last-child {
    background: #fff url(../images/menu/tree-node-last.png) 0 -2px no-repeat;
  }
  .layout-mode-responsive .gf-menu .dropdown {
    width: 100% !important;
    border: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    position: relative;
    left: inherit;
    top: inherit;
    opacity: 1;
    *zoom: 1;
  }
  .layout-mode-responsive .gf-menu .dropdown:before,
  .layout-mode-responsive .gf-menu .dropdown:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .layout-mode-responsive .gf-menu .dropdown:after {
    clear: both;
  }
  .layout-mode-responsive .gf-menu .dropdown .flyout {
    display: block;
  }
  .layout-mode-responsive .gf-menu .dropdown .column {
    width: 100% !important;
  }
  .layout-mode-responsive .gf-menu .dropdown .grouped ol {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .layout-mode-responsive .gf-menu .dropdown .modules {
    display: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li {
    float: none;
  }
  .layout-mode-responsive .gf-menu.l1 > li.active {
    margin-left: 0px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
  }
  .layout-mode-responsive .gf-menu.l1 > li > .item {
    font-size: 14px;
  }
}
body.rtl .gf-menu.l1 > li {
  float: right;
}
body.rtl .gf-menu li .item {
  text-align: right;
}
body.rtl .gf-menu li.parent > .item {
  padding-right: 8px;
  padding-left: 25px;
}
body.rtl .gf-menu li.parent > .item:after {
  right: inherit;
  left: 6px;
}
body.rtl .gf-menu-toggle {
  left: inherit;
  right: 10px;
}
body.rtl .dropdown {
  border-radius: 5px 0 5px 5px;
}
body.rtl .dropdown ul li.parent > .item:after {
  content: "\f053";
  font-size: 11px;
}
@media (max-width: 959px) {
  .layout-mode-responsive.rtl .gf-menu.l1 > li {
    float: none;
  }
  .layout-mode-responsive.rtl .gf-menu li .item {
    text-align: left;
  }
}
body.layout-mode-responsive {
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
  position: relative;
}
body.layout-mode-responsive .gf-menu-device-wrapper-sidemenu {
  left: -200px;
  -webkit-overflow-scrolling: touch;
}
body.layout-mode-responsive .gf-sidemenu-size-left {
  left: 0;
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}
body.gf-sidemenu-size-marginleft {
  left: 200px;
  position: relative;
  overflow: hidden;
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
}
@media (max-width: 959px) {
  .gf-menu-device-container.responsive-type-panel ~ ul.gf-menu {
    display: none;
  }
  .layout-mode-responsive .gf-menu-device-wrapper.gf-menu-device-wrapper-sidemenu {
    margin-bottom: 0 !important;
  }
  .layout-mode-responsive .gf-menu-device-wrapper-sidemenu {
    -webkit-transition: left 0.2s ease-out;
    -moz-transition: left 0.2s ease-out;
    -o-transition: left 0.2s ease-out;
    transition: left 0.2s ease-out;
    position: fixed !important;
    top: 0;
    left: -200px;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    z-index: 6000;
    overflow: auto !important;
    background: #fff;
    border: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 200px;
  }
  .layout-mode-responsive .gf-menu-device-wrapper-sidemenu .gf-menu-device-container {
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    width: 95%;
  }
}
@media (min-width: 960px) {
  .layout-mode-responsive .gf-menu-device-wrapper-sidemenu {
    left: -200px;
  }
  body.gf-sidemenu-size-marginleft {
    left: 0;
  }
}
[class*="menu-dropdownmenu-position-content-"] #rt-content-top,
[class*="menu-dropdownmenu-position-content-"] #rt-content-bottom {
  overflow: visible;
}
.gf-menu-device-wrapper-sidemenu .dropdown,
.gf-menu-device-wrapper-sidemenu .dropdown ul li.parent .dropdown {
  transform: none;
  visibility: visible;
}
.gf-menu-device-wrapper-sidemenu .gf-menu li.active .item {
  border: none;
  background: none;
}
.gf-menu-device-wrapper-sidemenu .gf-menu li .fa:before {
  display: none;
}
.gf-menu li.full-width-menu {
  position: initial;
}
.gf-menu li.hide-title a.item {
  display: none;
}
body .gf-menu div div.k2ItemsBlock ul li {
  float: none;
  width: 100%;
}
.gf-menu .dropdown  .column:last-child {
  border-left: 1px solid #ddd;
}
.gf-menu .dropdown.columns-1 .column {
  border: none;
}
.gf-menu li.full-width-menu .dropdown {
  position: fixed;
}
.gf-menu li.full-width-menu:hover .dropdown {
  position: absolute;
}
body .submenu {
  width: 100%;
  display: inline-block;
}
body .submenu ul.menu li {
  float: left;
  margin-right: 10px;
}
body .submenu ul.menu li:last-child {
  margin-right: 0;
}
body .submenu ul.menu li a {
  font-size: 17px;
  line-height: 29px;
  color: #1f2a30 !important;
}
body .submenu ul.menu li a:hover {
  color: #34ccff !important;
}
body .submenu ul.menu li a:after,
body .submenu ul.menu li a:before {
  display: none !important;
}
body .submenu ul.menu li.active a {
  color: #34ccff !important;
}
.gf-menu.gf-splitmenu .item,
.gf-menu.gf-splitmenu li:hover .item,
.gf-menu.gf-splitmenu li.active .item {
  background: none;
}
.gf-menu.gf-splitmenu li.parent .item {
  padding-right: 12px;
}
.gf-menu.gf-splitmenu li.parent .item:after {
  display: none;
}
@media screen and (max-width: 960px) {
  .gf-menu-device-wrapper-sidemenu.gf-sidemenu-size-left .gf-menu-device-container {
    margin: 0 !important;
  }
}
.gf-menu-device-container-wrapper .full-width-menu {
  position: relative;
}
.gf-menu-device-container-wrapper li.full-width-menu .dropdown {
  position: relative;
}
.gf-menu-device-container-wrapper li.full-width-menu:hover .dropdown {
  position: relative;
}
.gf-menu li.active li.active:hover .dropdown {
  transform: translate3d(100%,0%,0px) !important;
  top: 1px;
}
@media screen and (max-width: 960px) {
  .gf-menu-device-wrapper-sidemenu.gf-sidemenu-size-left .gf-menu-device-container {
    margin: 0 !important;
  }
}
.gf-menu-device-container-wrapper ul.gf-menu li:hover .item {
  background: none;
}
.gf-menu-device-container-wrapper .gf-menu li:hover > .dropdown,
.gf-menu-device-container-wrapper .gf-menu li.active:hover > .dropdown {
  left: 0;
}
.gf-menu-device-container-wrapper .gf-menu .dropdown li:hover > .flyout {
  top: 0;
}
body .gf-menu-device-container-wrapper .gf-menu .dropdown li:hover > .flyout {
  left: auto;
}
body .gf-menu-device-container-wrapper .gf-menu li:hover .dropdown,
body .gf-menu-device-container-wrapper .gf-menu li.active li.active:hover .dropdown {
  transform: translate3d(0%,0%,0px) !important;
}
