/**
 * @package         NoNumber Framework
 * @version         16.1.25452
 * 
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2016 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/**
 * LOOSELY BASED ON:
 * Very simple jQuery Color Picker
 * Copyright (C) 2012 Tanguy Krotoff
 * Licensed under the MIT license
 */
@import "init.less";

.nncolorpicker-swatch {
	cursor: pointer;
	position: relative;
	width: 20px;
	height: 20px;
	text-align: left;
	background: url(../images/minicolors.png) -80px 0;
	border: solid 1px #CCC;
	vertical-align: middle;
	display: inline-block;
	.border-radius(3px);
	overflow: hidden;
}

.nncolorpicker-swatch span {
	position: absolute;
	width: 100%;
	height: 100%;
	background: none;
	.box-shadow(~"inset 0 9px 0 rgba(255, 255, 255, .1)");
	display: inline-block;
}

.nncolorpicker-panel .nncolorpicker-swatch {
	margin: 0 4px 4px 0;
}

.nncolorpicker-swatch.active,
.nncolorpicker-swatch:hover,
.nncolorpicker-swatch:focus,
.nncolorpicker-swatch span:focus {
	outline: 0;
	outline: thin dotted \9; /* IE6-9 */
}

.nncolorpicker-swatch:hover,
.nncolorpicker-swatch.active {
	border-color: rgba(82, 168, 236, 0.8);
	.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
}

.nncolorpicker-panel {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	display: none;
	float: left;
	padding: 6px 2px 2px 6px;
	margin: 1px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	.box-shadow(~"0 5px 10px rgba(0, 0, 0, 0.2)");
	.background-clip(padding-box);
}
