/**
 * @package         NoNumber Framework
 * @version         16.1.25452
 * 
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2016 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

body.nnpopup {
	padding: 0;
	.container-fluid {
		padding: 0 20px;
	}
	.subhead {
		margin-left:   0;
		margin-right:  0;
		padding-left:  0;
		padding-right: 0;
	}
	.page-title {
		text-align: left;
	}
	.header {
		margin-left:  0;
		margin-right: 0;
	}
	label > span[class^="nnicon"] {
		padding: 1px 0 3px;
	}

	.nn_overlay {
		background-color: #000;
		position:         fixed;
		left:             0;
		top:              0;
		width:            100%;
		height:           100%;
		z-index:          5000;
		opacity:          .2;
		cursor:           wait;
	}
}
