/**
 * @package         Tabs
 * @version         5.1.12
 * 
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2016 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
#myTabTabs > li > a {
  border-color: #eee #eee #ddd;
  background-color: #f5f5f5;
  margin-right: 4px;
}
#myTabTabs > li > a:hover,
#myTabTabs > li > a:focus {
  background-color: #eee;
}
#myTabTabs > li.active a {
  border-color: #ddd;
  border-bottom-color: transparent;
  background-color: #fff;
}
#myTabContent h1 > span.icon-default {
  font-size: 18px;
  vertical-align: top;
}
#myTabContent label[for$="_default0"] {
  display: none;
}
#myTabContent label[for$="_default1"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
