/**
 * @package         Tabs
 * @version         5.1.12
 * 
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2016 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

@import "../../nnframework/less/init.less";

#myTabTabs {
	> li {
		> a {
			border-color: #eee #eee #ddd;
			background-color: #f5f5f5;
			margin-right: 4px;
			&:hover,
			&:focus {
				background-color: #eee;
			}
		}
		&.active a {
			border-color: #ddd;
			border-bottom-color: transparent;
			background-color: #fff;
		}
	}
}
#myTabContent {
	h1 > span.icon-default {
		font-size: 18px;
		vertical-align: top;
	}
	label[for$="_default0"] {
		display: none;
	}
	label[for$="_default1"] {
		.border-radius(@baseBorderRadius);
	}
}
